@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

.copyright {
  font-size: 0.6rem;
  color: #ccc;
}

.copyright a {
  color: #ccc;
}

.header-title img {
  padding: 0.5rem;
}

.home-profile > img {
  width: 100%;
}

.section-header {
  /* Placeholder */
}

.section-header img {
  width: 100%;
  opacity: 1;
}

.single .content blockquote {
margin: 2em 0;
}

.single .content blockquote::after {
content: "";
}

.single .content h2 > .header-mark::before {
  content: "|";
}

.single .post-meta {
  color: #ccc;
  margin-bottom: 2rem;
}
