// ========== Global ========== //
// Font and Line Height
$global-font-family: 'Quicksand', Helvetica, Arial, sans-serif;
$global-font-size: 16px;
$global-font-weight: 400;
$global-line-height: 1.5rem;

// Color of the background
$global-background-color: #fff;
$global-background-color-dark: #292a2d;

// Color of the text
$global-font-color: #161209;
$global-font-color-dark: #a9a9b3;

// Color of the secondary text
$global-font-secondary-color: #5c5c5c;
$global-font-secondary-color-dark: #9c9c9c;

// Color of the link
$global-link-color: #161209;
$global-link-color-dark: #a9a9b3;

// Color of the hover link
$global-link-hover-color: #2d96bd;
$global-link-hover-color-dark: #fff;

// Color of the border
$global-border-color: #dcdcdc;
$global-border-color-dark: #4a4b50;
