+++
title = "Rex's Tips"
linkTitle = "Rex's Tips"

+++

{{< blocks/cover title="Rex's Tips" image_anchor="top" height="full" color="primary" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/guitar" >}}">
		Guitar Course <i class="fas fa-guitar ml-2 "></i>
	</a>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/blog" >}}">
		Blog<i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<p class="lead mt-5">A personal website for my friends.</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
This is my personal website. It contains my [blog]({{< relref "/blog" >}}) on a variety of topics including guitar, machine tools and metalworking, luthery and other woodworking, Japanese, and the game of go. I also maintain an instruction manual for learning to play [guitar]({{< relref "/guitar" >}}).
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="No Spam!" %}}
I don't want your email. I don't do social media.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Ideas welcome!" url="https://github.com/wrex/rexs.tips/issues" %}}
Please don't hesitate to [create an issue](https://github.com/wrex/rexs.tips/issues) for any suggestions or corrections.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Don't follow me on Twitter!" url="https://twitter.com/docsydocs" %}}
Go away kid, you bother me.
{{% /blocks/feature %}}


{{< /blocks/section >}}
