<div class="section-index">
  {{- $pages := (where .Site.Pages "Section" "guitar").ByParam "tdgid" -}}
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">TDG ID</th>
        <th scope="col">Title</th>
      </tr>
    </thead>
    <tbody>
      {{- range $pages -}}
        {{- $rlink := .RelPermalink -}}
        {{- $title := .Title }}
        {{- /* only ist if tgdid in frontmatter */ -}}
        {{- with .Param "tdgid" -}}
        <tr>
          <th scope="row"><input disabled="" type="checkbox"></th>
          <td>
            {{ . }}
          </td>
          <td>
            <a href="{{ $rlink }}">{{$title}}</a>
          </td>
        </tr>
        {{- end -}}
      {{- end -}}
    </tbody>
  </table>
</div>
