{{- range (where .Site.Pages ".Params.tdgid" "!=" nil).ByParam "tdgid" -}}
{{- $orig := .Params.tdgid -}}
{{- $csv := replaceRE `^RT(\d+)(\D*)(\d*)(\D*)(\d*)` "$1,$2,$3,$4,$5" $orig -}}
{{- $split := split $csv "," -}}
{{- $s := slice "" }}
{{- range $split -}}
{{- $s = $s | append (printf "%03v" .) -}}
{{- end -}}
{{- $finalID := delimit $s "" -}}
{{ $.Scratch.SetInMap "paddedPages" (string $finalID) .  }}
{{- end -}}
{{- .Scratch.Set "i" 1 -}}
<section class="justify-content-center">
  <div class="section-index">
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col">TDG ID</th>
          <th scope="col">Title</th>
          <th scope="col">Published</th>
          <th scope="col" style="width: 50%;">Notes</th>
        </tr>
      </thead>
      <tbody>
        {{- range .Scratch.GetSortedMapValues "paddedPages" -}}
          <tr>
            <td scope="row">
              <input type="checkbox">
            </td>
            <td scope="row">
              <img src="/svg/{{.Params.tdgtype}}.svg" alt="{{.Params.tdgtype}}" style="width: 1em; height: 1em;">
            </td>
            <td scope="row">
              {{ $.Scratch.Get "i" }}
            </td>
            <td>
              <a href="{{ .RelPermalink }}">{{ .Params.tdgid }}</a>
            </td>
            <td>
              <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </td>
            <td>
              {{ .PublishDate.Format "1/2/2006" }}
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          {{- $.Scratch.Add "i" 1 -}}
        {{- end -}}
        </tbody>
      </table>
    </div>
  </section>
  