{{/* usage: {{< tdgalert "path-to-test" "warning" >}}stuff{{< /tdgalert >}}  */}}
{{/* */}}
{{/* remove /guitar/tests from front if present */}}
{{/* for some reason, \s and \S (whitespace or not) isn't working */}}
{{- $path := replaceRE "^[\t\n\f\r ]*/?guitar/tests/([^\t\n\f\r ]*)" "$1" (.Get 0) -}}
{{/* */}}
{{/* now canonicalize by pre-pending "guitar/tests/" */}}
{{- $path := printf "guitar/tests/%s" $path -}}
{{- $page := .Site.GetPage ($path) -}}
{{- $tdgid := $page.Params.tdgid -}}
{{- $title := $page.Title -}}
{{ $color := .Get 1 | default "success" }}
<div class="alert alert-{{ $color }}" role="alert">
  <h4 class="alert-heading"><a href="{{$page.Permalink}}">{{ $tdgid | safeHTML }}: {{ $title | safeHTML }}</a></h4>
  {{ .Inner }}
</div>