{{/* usage: {{< tdgid "path-to-test" }} */}}
{{/* */}}
{{/* remove /guitar/rexercises from front if present */}}
{{/* for some reason, \s and \S (whitespace or not) isn't working */}}
{{- $path := replaceRE "^[\t\n\f\r ]*/?guitar/rexercises/([^\t\n\f\r ]*)" "$1" (.Get 0) -}}
{{/* */}}
{{/* now canonicalize by pre-pending "guitar/rexercises/" */}}
{{- $path := printf "guitar/rexercises/%s" $path -}}
{{- with .Site.GetPage $path -}}
{{- $tdgid := .Params.tdgid -}}
{{ $tdgid }}
{{- else -}}
{{- errorf "No tdg test at %q" $path -}}
{{- end -}}